        body{
          --couleurblocadmin: #fefbec;
          --couleursousblocadminsouris: #0a0033;
          --couleurtexteadmin: #0e0047;
        }
        
        body.sombre{
          --couleurblocadmin: #423a65;;
          --couleursousblocadminsouris: #4d4090;
          --couleurtexteadmin: #fefbec;
        }
        
        body {
            display: flex;
            background-color: #0e0047;
            margin: 0;
            height: 100vh;
            align-items: center;
            justify-content: center;
            color: #0e0047;
        }

        .bloc {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--couleurblocadmin);
            padding: 3vw;
            border-radius: 1.5vw;
            text-align: center;
            width: 35vw;
            height: 25vw;
            justify-content: center;
            align-items: center;
        }

        .bloc button {
            width: 15vw;
            height: 3vw;
            background: #0e0047;
            border: none;
            color: #fefbec;
            margin: 1vw;
            font-size: 1vw;
            cursor: pointer;
            border-radius: 0.8vw;
  
        }

        .bloc h3 {
            color: var(--couleurtexteadmin);
        }
        
        .bloc button:hover {
    	    background: var(--couleursousblocadminsouris);
        }
        

