body{
  --couleurtexte1: #0e0047;
  --couleurtexte2: black;
  --couleurfond1: #FEFAE0;
  --couleurboutonvoyage1: #1532a0;
  --couleurboutonvoyage2: #f1b410;
  --opaciteclaire: 1;
  --opacitesombre: 0;
}

body.sombre{
  --couleurtexte1: #FEFAE0;
  --couleurtexte2: #FEFAE0;
  --couleurfond1: #423a65;
  --couleurboutonvoyage1: #0e0047;
  --couleurboutonvoyage2: #7265b2;
  --opaciteclaire: 0;
  --opacitesombre: 1;
}

body{
  background-color: var(--couleurfond1);
}

form{
  all:unset;
}

.texte2{
 width: 100vw;
 height: 19vw;
}

.texte p {
text-align: justify;
text-align-last: center;
font-size: 1.4vw;
color: var(--couleurtexte2);
}

.texte h2 {
margin-top: 5vw;
text-align: justify;
text-align-last: center;
font-size: 5vw;
color: var(--couleurtexte1);
}

	


.carree2 {
margin: 0 auto;
height: 51vw;
width: 80vw;
background-color: #0e0047;
border-radius: 2vw;
}

.carree2 h2{
  color: #FEFAE0;
  font-size: 2.5vw;
  padding-top: 2.5vw;
}  

.carree21 {
height: 50vw;
display: grid;
margin-right : 5vw;
margin-left : 5vw;
display: flex;
justify-content: space-between;
width: 70vw;
}

.carree21 button{
  all: unset;
}


.image-container {
position: relative;
width: 30.1vw;
height: 17.5vw;
margin-bottom: 4vw;
}

.image {
position: absolute;
width: 30.1vw;
height: 17.5vw;
transition: opacity 0.3s ease;
border-radius:1vw;
}

.image2 {
opacity: 0; 
}

.image-container:hover .image2 {
opacity: 1; 
}

.image-container:hover .image1 {
opacity: 0;
}

.slogan{   
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}

.slogan h2{
  font-size: 2vw;
  color: var(--couleurtexte2);
}

.voyage {
text-align: center;
margin-bottom: 4vw;
margin-top: 4vw;

}

.voyage button{
  background: var(--couleurboutonvoyage1);
  width: 20vw;
  height: 5vw;
  cursor: pointer;
  border-width: 3px;
  color: #FEFAE0;
  font-size: 1.5vw;
  font-weight: bold;
  border-radius: 1vw;
  border:none;
}

.voyage button:hover{
  background: var(--couleurboutonvoyage2);
} 

.carte {
  margin: 0 auto;
  width: 70vw;
  height: 45vw;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  position:relative;
}

.carteclaire{
  width:100%;
  height: auto;
  position: absolute;
  opacity: var(--opaciteclaire);
} 

.cartesombre{
  width:100%;
  height: auto;
  position: absolute;
  opacity: var(--opacitesombre);
}  
  


  
