body{
  --couleurfondprofil: #fefbec;
  --couleurboutonprofil: #1532a0;
}

body.sombre{
  --couleurfondprofil: #423a65; /*#2c206b*/
  --couleurboutonprofil: #4d4090;
}

body {
  background-color: var(--couleurfondprofil);
  margin: 0;
  padding-top: 3vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
}


.conteneur-profil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carte-profil {
  background: #0e0047;
  border-radius: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 400px;
}

.titre-profil {
  font-size: 24px;
  color:  #fefbec;
  margin-bottom: 20px;
  font-weight: bold;
}

.infos-profil {
  text-align: left;
  margin-bottom: 20px;
  color: #0e0047;
}

.element-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px 0;
  padding: 10px;
  background-color:#fefbec;
  border-radius: 8px;
}

.element-info span {
  color: #0e0047;
  font-weight: bold;
  flex: 1;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton-modifier {
    background-color: var(--couleurboutonprofil);
    color: #fefae0;
}

.bouton-modifier:hover {
  background-color: #0e257e;
}

.bouton-mdp {
  background-color: var(--couleurboutonprofil);
  color: #fefbec;
}

.bouton-mdp:hover {
  background-color: #0e257e;
}

.bouton-deconnexion {
  background-color: var(--couleurboutonprofil);
  color: #fefbec;
}

.bouton-deconnexion:hover {
  background-color: #0e257e;
}

a {
text-decoration: none;
}
