body{
  --couleurfondvoyage: #fefbec;
  --couleurentetevoyage: #1532a0;
  --couleurentetesourisvoyage: #0e257e;
  --couleurretour: #061d77;
  --couleurretoursouris: #031661;
}

body.sombre{
  --couleurfondvoyage: #423a65;
  --couleurentetevoyage: #0e0047;
  --couleurentetesourisvoyage: #4d4090;
  --couleurretour: #1a0d51;
  --couleurretoursouris: #423776;
}

body {
  background-color: var(--couleurfondvoyage);
  margin: 0;
  padding-top: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.conteneur-blocs {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 2vw;
  margin-top: 3vw;
}

.voyage-int {
  width: 75vw;              
  min-height: 15vw;       
  padding: 1vw;
}

.voyage-bouton {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  background-color: #0e0047;
  border-radius: 0.7vw;
  color: white;
}

.voyage-bouton:hover {
  transform: scale(1.03);
}

.image{
width: 30vw;
display: flex;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block; 
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.7vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.infos{
width: 70%;
padding: 1.5vw;
display: flex;
flex-direction: column;
justify-content: space-between;
}


.titre{
font-size: 1.2vw;
margin-bottom: 1.9vw;
text-align: center;
}

.left p{
text-align: left;
font-size: 1vw;
}

.right p{
text-align: right;
font-size: 1vw;
}

.retour {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin-top: 2vw;
}

.retour a {
  background-color: var(--couleurretour);
  color: #fefbec;
  text-decoration: none;
  padding: 0.5vw 1vw;
  border-radius: 0.6vw;
  font-size: 1vw;
}

.retour a:hover {
  background-color: var(--couleurretoursouris);
}


.image-hover {
  position: relative;
  width: 30vw;
  height: auto;
  overflow: hidden;
  border-radius: 0.7vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.image-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.img1 {
  opacity: 1;
  z-index: 1;
}

.img2 {
  opacity: 0;
  z-index: 2;
}

.voyage-bouton:hover .img1 {
  opacity: 0;
}

.voyage-bouton:hover .img2 {
  opacity: 1;
}

