.test img{
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%; /* Optionnel selon l'effet voulu */
  z-index: -1; /* Place l'image en arrière-plan */
}

.fond{
  background: #FEFAE0;
  display: block;
  height: 100vh;
  width: 100%;
  z-index: 1;
  margin-top: 410px;
}


.fond-entete{
  position: fixed;
  width:100%;
  
  z-index: 2;
}

.bloc{
  justify-content: center;
  align-items: center;
  text-align: center;


}
  
