
body {
  background-color:  #fefae0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.conteneur-profil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carte-profil {
  background: #0e0047;
  border-radius: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  width: 400px;
}

.titre-profil {
  font-size: 24px;
  color:  #fefbec;
  margin-bottom: 20px;
  font-weight: bold;
}

.infos-profil {
  text-align: left;
  margin-bottom: 20px;
  color: #0e0047;
}

.element-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 8px 0;
  padding: 10px;
  background-color:#fefbec;
  border-radius: 8px;
}

.element-info span {
  color: #0e0047;
  font-weight: bold;
  flex: 1;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton-modifier {
    background-color: #1532a0;
    color: #fefae0;
}

.bouton-modifier:hover {
  background-color: #f1b410;
}

.bouton-mdp {
  background-color: #1532a0;
  color: #fefae0;
}

.bouton-mdp:hover {
  background-color: #f1b410;
}

.bouton-deconnexion {
  background-color: #1532a0;
  color: #fefae0;
}

.bouton-deconnexion:hover {
  background-color: #f1b410;
}

a {
text-decoration: none;
}
