        body{
          --couleur-fond-enregistrement: #f7f2d3;
          --couleur-bloc-enregistrement: #fefbec;
          --couleur-texte-enregistrement: #0e0047;
        }
        
        body.sombre{
          --couleur-fond-enregistrement: #0e0047;
          --couleur-bloc-enregistrement: #423a65;
          --couleur-texte-enregistrement: #fefbec;
        }
       
        body {
            display: flex;
            background-color: var(--couleur-fond-enregistrement);
            margin: 0;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

        .bloc {
            display: flex;
            flex-direction: column;
            background: var(--couleur-bloc-enregistrement);
            padding: 3vw;
            border-radius: 1.5vw;
            text-align: center;
            width: 30vw;
            height: 15vw;
            justify-content: center;
            align-items: center;
        }

        .bloc button {
            width: 15vw;
            height: 3vw;
            background: #0e0047;
            border: none;
            color: #fefbec;
            font-size: 1vw;
            cursor: pointer;
            border-radius: 0.8vw;
            margin-top: 2vw;
        }

        
       .bloc button:hover {
    	background: #0a0033;
        }
        
	h3 {
	color: var(--couleur-texte-enregistrement);
       }
