body{
  --couleur-fond-recap: #f7f2d3;
  --couleur-bloc-recap: #fefbec;
  --couleur-lettre-recap: #0e0047;
  --couleur-bouton-recap: #f1b410;
}

body.sombre{
  --couleur-fond-recap: #0e0047;
  --couleur-bloc-recap: #423a65;
  --couleur-lettre-recap: #fefbec;
  --couleur-bouton-recap: #0e0047;
}

body{
  background-color: var(--couleur-fond-recap);
}

.container {
    min-height: 100vh;

}


.carree {
width: 90vw;
height: auto;
margin: 0 auto;
background-color: var(--couleur-bloc-recap);
margin-top: 5vh;
margin-bottom: 5vh;
padding-top: 5vh;
padding-bottom: 5vh;
border-radius: 2vw;
justify-content: center;  
align-items: center;
}


h1{
margin-top: 3vw;
text-align: center;
color: var(--couleur-lettre-recap);
}

h2{
margin-top: 3vw;
text-align: center;
color: var(--couleur-lettre-recap);
font-size: 1.6vw;
}

p{
text-align: center;
font-size: 1.2vw;
color: var(--couleur-lettre-recap);
}


.boutons{
margin-top: 3vw;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}


button{
width: 15vw;
height: 7vw;
margin: 1vw; 
border-radius: 0.7vw;
background-color: var(--couleur-bouton-recap);
color: var(--couleur-lettre-recap);
}

#modif{
text-align: center;
font-size: 1.7vw;
}

#modif:hover{
background-color: #fffa51;
}

#enregistrer{
text-align: center;
font-size: 1.7vw;
}

#enregistrer:hover{
background-color: #51a0ff;
}

#payer{
text-align: center;
font-size: 1.7vw;
}

#payer:hover{
background-color: #96ff51;
}

#supp{


text-align: center;


font-size: 1.7vw;


}

#supp:hover{
  background-color: #f44f4f;
}




