* {
  box-sizing: border-box;
}

body {
  background-color: #0e0047;
}

body>img{
  all: unset;
  position: fixed;
  z-index: -1;
  margin: 0 auto;
  width: 100vw;
  height: auto;
}

form{
all: unset;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.carree {
width: 50vw;
height: auto;
margin: 0 auto;
background-color: rgba(14,00,71,0.8);
margin-top: 1vw;
margin-bottom: 5vw;
padding-top: 2vw;
padding-bottom: 2vw;
border-radius: 2vw;
display: flex;
justify-content: center;  
align-items: center;
}


.formulaire {
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container h1 {
  font-size: 1.7vw;
  color: #0e0047;
  margin-top: 3vw;
}

.formulaire label {
  font-weight: bold;
  font-size: 1.4vw;
  color: #fefbec;
}

.formulaire input {
  padding: 0.5vw;
  font-size: 0.9vw;
  width: 25vw;
  border-radius: 0.6vw;
  border: 0.5vw solid #1532a0;
  background-color: #fefbec;
  color: #0e0047;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}

.form1 input {
  padding: 0.5vw;
  font-size: 0.9vw;
  width: 25vw;
  border-radius: 0.6vw;
  border: 0.5vw solid #1532a0;
  background-color: #fefbec;
  color: #0e0047;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}

.form2 input {
  padding: 0.5vw;
  font-size: 0.9vw;
  width: 25vw;
  border-radius: 0.6vw;
  border: 0.5vw solid #1532a0;
  background-color: #fefbec;
  color: #0e0047;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}


.formulaire select {
  padding: 0.5vw;
  font-size: 0.9vw;
  width: 25vw;
  border-radius: 0.6vw;
  border: 0.5vw solid #1532a0;
  background-color: #fefbec;
  color: #0e0047;
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
}


.formulaire button {
  background-color: #1532a0;
  color: #FEFAE0;
  border: 0.5vw solid #1532a0;
  border-radius: 0.6vw;
  cursor: pointer;
  padding: 0.5vw;
  font-size: 0.9vw;
  width: 25vw;
  height: 3vw;
  margin-top: 1.7vw;
}

.formulaire button:hover {
  background-color: #f1b410;
  border: 0.5vw solid #f1b410;
}

#option-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
gap: 10px; 
margin-top: 10px;
}

#option-container2 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
gap: 10px; 
margin-top: 10px;
}

.option {
color: white;
display: flex;
text-align: center;
width: 45vw;
height: 23vw;
background-color: #fefbec;
border-radius: 0.6vw;
border: 0.5vw solid #f1b410ff;
}


.option h2 {
font-size: 1.5vw;
color: #0e0047;
padding-bottom: 0.5vw;
}

.int-option1{
margin: 0.9vw;
}




.int-option2 p {
color: #0e0047;
font-size: 1vw;
margin: 0.4vw;
text-align: left;
}


.int-option3 label{
width: 12vw;
background-color: #f1b410ff;
border-radius: 2vw;
font-weight: normal;
color: #0e0047;
font-size: 1vw;
padding: 0.5vw 0.8vw;
font-size: 1.2vw;
display: flex;
align-items: center;
}

.int-option3 {
display: flex;
gap: 1vw;
flex-wrap: wrap;
justify-content: center;
margin-top: 1.2vw;
margin-left: 2vw;
}

.int-option3 p{
  margin-right: 1vw;
  font-size: 1.2vw;
  width: 50vw;
  display:flex;
}  


h2{
font-size: 1.5vw;
color: white;
}

